profiles{
    slurm{
        process.executor = 'slurm'
        singularity.enabled = true
        singularity.cacheDir = "/srv/data_ssd/reshub/singularity-images"
        queueSize = 50
        submitRateLimit = '1 sec'
    }
    local{
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir = "/srv/data_ssd/reshub/singularity-images"
        queueSize = 100
        submitRateLimit = '0.1 sec'
    }
  
 }

params {
    clean_now = true
}

trace.overwrite = true

 process{
    cpus = 1
    withName: TBPROFILER_PROFILE {
        cpus = 4
		ext.args = "--call_whole_genome --txt"
        memory = 15.GB
    }
    
    withName: TBPROFILER_PROFILE_EXTERNAL {
        cpus = 4
	    memory = 15.GB
    }

    withName: MAP_READS{
        cpus = 4
        memory = 20.GB
    }
     withName: REMOVE_CONTAM{
        cpus = 1
        memory = 8.GB
        
    }
    withName: VARIANT_CALL{
        cpus = 4
        memory = 20.GB
    }
    withName: PREDICT_DST{
        cpus = 4
        memory = 8.GB
    }
    withName: KRAKEN2_KRAKEN2{
        cpus = 4
        memory = 10.GB
        ext.args='--quick'
    }
	withName: BRACKEN_BRACKEN{
        cpus = 1
        memory = 2.GB
    }
}