params {
    clean_now = true
    assetsDir = "$baseDir/assets"
    ticket = ""
    catalogue_version = "who2023v07"
    archive_input = false
    archive_dir = ''
    // "/srv/data_ssd/reshub/singularity-images"
    singularity_cache = "${params.out_dir}/.singularity_cache"
}

profiles{
    slurm{
        process.executor = 'slurm'
        singularity.enabled = true
        singularity.cacheDir = params.singularity_cache
        queueSize = 50
        submitRateLimit = '1 sec'
    }
    local{
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir = params.singularity_cache
        queueSize = 100
        submitRateLimit = '0.1 sec'
    }
 }


 process{
    cpus = 1
    withName: TBPROFILER_PROFILE {
        cpus = 4
		ext.args = "--call_whole_genome --txt"
        memory = 15.GB
    }
    
    withName: TBPROFILER_PROFILE_EXTERNAL {
        cpus = 4
	    memory = 15.GB
    }

    withName: MAP_READS{
        cpus = 4
        memory = 20.GB
    }
     withName: REMOVE_CONTAM{
        cpus = 1
        memory = 8.GB
        
    }
    withName: VARIANT_CALL{
        cpus = 4
        memory = 20.GB
    }
    withName: PREDICT_DST{
        cpus = 4
        memory = 8.GB
    }
    withName: KRAKEN2_KRAKEN2{
        cpus = 4
        memory = 10.GB
        ext.args='--quick'
    }
	withName: BRACKEN_BRACKEN{
        cpus = 1
        memory = 2.GB
    }
}

// Reporting and logging configurations
report {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/logs/${params.ticket}.report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/logs/${params.ticket}.timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/logs/${params.ticket}.dag.svg"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.out_dir}/logs/${params.ticket}.trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,cpus,time,memory,disk,rss,vmem'
}


// Cleanup configurations
// cleanup {
//     enabled = false
//     removeWorkDirWhenSuccess = true
//     removeWorkDirWhenCancel = true
//     removeWorkDirWhenError = false
// }